<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <title><%= title %>  | home</title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <main id="contendor-principal">
    <%- include('partials/navigation.ejs') %>

            <section id="seccion-contenido">
              <br>
              <h1>Welcome to <%= title %> !!!</h1>
              <img src="https://cdna.artstation.com/p/assets/images/images/024/508/364/large/noe-zetina-trnas2.jpg?1615353489">
            </section>

    <%- include('partials/footer.ejs') %>
    </main>
  </body>
</html>
